**/.DS_Store
**/.env
**/.persistence/
**/.terraform/
**/.terraform.*
**/.idea
**/build/
**/.cache
**/local.conf
**/tests/**/build/
**/*.info
**/coverage-html/
.vscode/settings.json
**/mosquitto/config/certs/
device/firmware/src/ca_cert.inc
*.tfstate
*.tfstate.backup
